@model ElasticSearchDemo.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}


<section id="loginForm">
    <div class="col-md-6" style="margin: auto; float:none">
        <div class="panel panel-primary" style="box-shadow: 5px 5px 15px gray;">
            <div class="panel-heading">
                <h3>@ViewBag.Title</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @Class = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @Class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @Class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @Class = "form-check-input" })
                        @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label" })
                    </div>

                    <input type="submit" value="Log in" class="btn btn-primary" />
                }
            </div>
            <div class="panel-footer">
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
